{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>{% block title %}生産管理システム{% endblock %}</title>
<link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'dist/assets/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<img src="{% static 'dist/assets/img/AdminLTELogo.png' %}">


</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- ヘッダー -->
  {% include 'includes/header.html' %}
  <!-- サイドバー -->
  {% include 'includes/sidebar.html' %}
  <!-- メインコンテンツ -->
  <div class="content-wrapper p-3">
    {% block content %}
    <!-- 各ページの中身 -->
    {% endblock %}
  </div>
  <!-- フッター -->
  {% include 'includes/footer.html' %}
</div>
<script src="{% static 'dist/js/jquery.min.js' %}"></script>
<script src="{% static 'dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
</body>
</html>
